footer {
  position: fixed;
  bottom: 0px;

  width: 100%;
  height: 160px;
  padding: 0.2rem;
  padding-bottom: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;

  background: linear-gradient(to top left, #54091b, #c50000);
  color: var(--color-secundario);
  z-index: 1000;
}

.footer_title {
  width: 100%;
  margin: 0;
  grid-column: span 2;

  font-size: 0.8rem;
  text-align: center;
}

.footer_contactos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_contactos_button {
  width: 100%;
  margin: 2px;
  border: none;
  box-sizing: border-box;

  background-color: var(--color-primario-oscuro);
  color: var(--color-secundario);
  border-radius: 2px;
  font-size: 13px;
  cursor: pointer;
}

.footer_contactos_title {
  font-size: 0.8rem;
  margin: 2px;
  text-align: center;
}

.footer_FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_FAQ_title {
  font-size: 0.8rem;
  margin: 2px;
  text-align: center;
}
.footer_FAQ_link {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-secundario);
  margin: 2px;

  font-size: 13px;
}

@media (min-width: 1200px) {
  footer {
    width: 100%;
    height: 90px;
    padding: 0.2rem;
    padding-bottom: 0px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
    gap: 10px;
  }

  .footer_title {
    grid-column: span 1;
  }
  .footer_contactos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .footer_contactos_button {
    width: 180px;
    margin: 5px;
  }
  .footer_FAQ {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 1400px) {
  footer {
    width: 100%;
    height: 90px;
    padding: 0.2rem;
    padding-bottom: 0px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
    gap: 10px;
  }

  .footer_title {
    grid-column: span 1;
  }
  .footer_contactos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .footer_contactos_button {
    width: 180px;
    margin: 5px;
  }
  .footer_FAQ {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
